
.header {
    display: flex;
    align-items: center;
    border: dotted pink;
}

.links {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero-content {
    display: flex;
}

.hero-header {
    font-weight: bold;
    font-size: large;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-subtext {
    max-width: 600px;
}

.hero-button {
    max-width: 100px;
}

.random-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding: 10px;

}

.random-header {
    font-weight: bold;
}

.img-section {
    display: flex;
}

.img-txt {
    max-width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution {
    align-self: flex-end;
}

.signup-bubble {
    background-color: rgb(144, 144, 225);
    display: flex;
}

.signup-header {
    font-weight: bold;
}



.footer {
    display: flex;
    justify-content: center;
}



/****** temp stuff *****/
.image-placeholder {
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    height: 200px;
    width: 400px;
}

.random-image {
    height: 50px;
    width: 50px;
}

.hero,
.random-info,
.quote,
.signup-section,
.footer {
    border: solid 1px;
    padding: 20px 0;
}

/* body {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */