body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .hero,
.random-info,
.quote,
.signup-section,
.footer {
    padding: 20px 200px;
} */

.header {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 10px;
    margin-left: auto;
    font-size: 18px;
    
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    padding: 0 200px;
    padding-bottom: 60px;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero-header {
    font-weight: 900;
    font-size: 48px;
    max-width: 450px;
    color: #f9faf8;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 8px;
}

.hero-subtext {
    max-width: 450px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    max-width: 100px;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
}

.random-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   padding: 60px;

}

.random-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.img-section {
    display: flex;
    gap: 80px;
    padding-bottom: 60px;
}

.img-txt {
    max-width: 150px;
    text-align: center;
}



.img-txt .image-placeholder {
    border: solid 2px #3882f6;
    background-color: white;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 60px 200px;
}

.quote p{
    font-size: 36px;
    color:#1f2937;
    font-weight: lighter;
    font-style: italic;
    max-width: 760px;
}

.attribution {
    font-weight: bold;
    margin-left: auto;
    padding-right: 200px;
}


.signup-bubble {
    background-color: #3882f6;
    display: flex;
    padding: 40px 160px;
    justify-content: space-between;
    color: #f9faf8;
    margin: 60px 200px;
    border-radius: 5px;
}

.signup-header {
    font-weight: bold;
    color: #f9faf8;
}

.signup-button {
    background-color: #3882f6;
    border: #f9faf8 2px solid;
    color: #f9faf8;
    border-radius: 5px;
    min-width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}










/****** temp stuff *****/
.image-placeholder {
    color: white;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    height: 230px;
    width: 500px;
}

.random-image {
    height: 150px;
    width: 150px;
}



/* body {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */